.news-detail__picture{border-radius:10px;margin-bottom:35px;}@media screen and (min-width:1200px){.news-detail__picture{margin-bottom:65px}}.news-detail p{color:#1b1f21;line-height:24px;margin-top:0;margin-bottom:35px}.news-detail__footer{margin:15px 0}